* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root{
  font-size: 62.5%; /* 1rem = 10px */

  --body-bg-color: #191816;
  --btn-bg-color: #24221F;
  --gray: #D4CCB6;
  --green-color: #01A020;
  --text-color: #AFB6C2;
  --white: #FFF;
}

.body{
  background-color: var(--body-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome_text{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.desc{
  font-weight: bold;
  font-size: 2.2rem;
  color: var(--text-color);
}

.sub_Desc{
  font-size: 1.4rem;
}

.input{
  display: flex;
  flex-direction: column;
  margin-top: 3.6rem;
  gap: 1.2rem;
}

.inputForm,
.submit{
  width: 28.7rem;
  height: 4.7rem;
  border-radius: 15rem;
}

.submit{
  font-weight: bold;
  font-size: 22px;
  margin-top: 2rem;
}

.socialMedia{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  margin-top: 3rem;
}