* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */

  --body-bg-color: #11111f;
  --green-color: #8edd65;
  --modal-bg-color: #1b1b33;
  --input-bg-color: #252546;
  --bg-color-expense: #D92525;
}

body{
  background-color: var(--body-bg-color);
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  padding: 2.3rem 11.9rem 0 5.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.opacity{
  opacity: 0.5;
}

.icon {
  height: 4rem;
  width: 4rem;
}

.icon_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;
  cursor: pointer;
}

.icon_div .title {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.title_section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.title_section h2{
  font-size: 2.2rem;
  color: #fff;
  font-weight: bold;
}

.information{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2.5rem;
}

.information .prohibited,
.information .expenses,
.information .balance{
  width: 33.5rem;
  height: 15rem;
  border-radius: 1rem;
  padding: 1rem;
}

.information .prohibited i,
.information .expenses i,
.information .balance i{
  font-size: 2rem;
}

.information .prohibited{
  background-color: var(--green-color);
}

.information .expenses{
  background-color: var(--bg-color-expense);
}

.information .balance{
  background-color: #C9C9C9;
}

.information .prohibited span,
.information .expenses span,
.information .balance span{
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
}

.div_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desc_money{
  margin-top: 7rem;
}

.desc_money span .small_money{
  font-size: 1.6rem;
}

.management{
  margin: 5rem 6rem;
}

.management .title{
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 1.6rem;
  padding: .5rem;
}

.result{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c9c9c9;
  margin-top: 1rem;
  font-size: 1.4rem;
  height: 5rem;
  padding: .5rem;
  border-radius: .5rem;
}

.management_icon{
  display: flex;
  gap: 1rem;
}

.management_icon .edit{
  background-color: var(--green-color);
}

.management_icon .delete{
  background-color: var(--bg-color-expense);
}

.management_icon .edit,
.management_icon .delete{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  height: 3.5rem;
  width: 3.5rem;
  cursor: pointer;
}

.add button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-size: 2rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  background-color: var(--modal-bg-color);
  border: none;
}

#modal_dashboard {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 38.2rem;
  height: 52.4rem;
  border-radius: 15px;
  background-color: var(--modal-bg-color);
  color: #fff;
}

.close_modal_dashboard {
  display: flex;
  justify-content: end;
}

.close_modal_dashboard .btn_close_dashboard {
  background-color: var(--close-button-bg-color);
  padding: 0.3rem 0.5rem;
  margin: 0.8rem 0.5rem;
  font-size: 10px;
  color: #fff;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
}

#modal_dashboard .welcome_text {
  margin: 2rem 5rem;
  font-size: 1.4rem;
}

#modal_dashboard .enter_text {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  font-size: 1.6rem;
  color: var(--green-color);
}

.form {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}

.form .text_title,
.form .value {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;
  font-size: 1.4rem;
  gap: 0.8rem;
  width: 28rem;
}

.form .text_title input,
.form .value input,
#options {
  background-color: var(--input-bg-color);
  border: none;
  padding: 1.3rem 2rem;
  border-radius: 1rem;
  color: #fff;
}

#options{
  margin: 2rem 0;
  width: 28rem;
}

.transaction{
  display: flex;
  justify-content: space-between;
}

.transaction .gain{
  background-color: var(--green-color);
}

.transaction .loss{
  background-color: var(--bg-color-expense);
}

.transaction .gain,
.transaction .loss{
  text-align: center;
  color: #fff;
  padding: 1rem;
  width: 10rem;
  font-size: 1.4rem;
  border-radius: .5rem;
}

.btn_submit {
  text-align: center;
}

.btn_submit input {
  height: 4.5rem;
  width: 10rem;
  font-size: 1.4rem;
  border-radius: 4rem;
  border: none;
  color: #fff;
  background-color: var(--green-color);
}

#modal_dashboard {
  transition: 1s all;
  opacity: 1;
}

#modal_dashboard.hide {
  opacity: 0;
}


